---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import HelpToUse from '../components/HelpToUse.astro';
---

<Layout title="AppRefull - Tu conductor al instante">
  <main>
    <div class="w-full flex flex-col items-center justify-center">
      <Hero />
      <Features />
      <HelpToUse />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  * {
    font-family: 'Montserrat', sans-serif;
  }
</style>